<div class="center">
  <div class="menu">
    <mat-card [style.height.px]="400">
      <mat-card-title>Menus</mat-card-title>
      <mat-card-content>
        <app-menu-form [menu]="menu" [views]="views" [colorNumber]="0" (changeView)="onChangeView($event)"></app-menu-form>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="view">
    <mat-card>
      <mat-card-title>View</mat-card-title>
      <mat-card-content>
        <mat-accordion [multi]='true'>
          <app-view-form [view]="currentView"></app-view-form>
        </mat-accordion>
      </mat-card-content>
    </mat-card>
  </div>
</div>