<!-- Menu items -->
<mat-button-toggle-group name="Menu">
  <mat-button-toggle *ngFor="let item of menu; let i = index"
    (click)="onClick(i)"
    [checked]="i == 0"
    [ngClass]="i == curSelectedIndex ? darkColorClass : colorClass">
      {{ getItemName(item) }}
  </mat-button-toggle>
</mat-button-toggle-group>

<!-- Sub-menu items -->
<div *ngIf="menu[curSelectedIndex] && !isView(menu[curSelectedIndex])">
  <app-menu-form
    [menu]="getChildMenu(menu[curSelectedIndex])"
    [colorNumber]="colorNumber + 1"
    (changeSelectedItem)="onChangeSelectedItem($event)"
    class="text-inside-grid">
  </app-menu-form>
</div>