<mat-button-toggle-group name="Menu">
  <mat-button-toggle *ngFor="let item of menu; let i = index" (click)="onClick(i)" [checked]="i == 0" [ngClass]="menu[i] == currentSelectedItem ? darkColorClass : colorClass">
    {{ getItemName(item) }}
  </mat-button-toggle>
</mat-button-toggle-group>
<div *ngIf="currentSelectedItem && !isView(currentSelectedItem)">
  <app-menu-form  [menu]="getChildMenu(currentSelectedItem)" [views]="views" [colorNumber]="colorNumber + 1" (changeView)="onChangeView($event)" class="text-inside-grid"></app-menu-form>
</div>