<h1 mat-dialog-title>Add an Item</h1>
<div mat-dialog-content>
	<mat-form-field appearance="standard">
		<mat-select [(value)]="result.newItem.name" [disabled]="data.tags.length == 1">
			<mat-option *ngFor="let tag of data.tags" [value]="tag">{{ tag }}</mat-option>
		</mat-select>
	</mat-form-field>
	<mat-checkbox [checked]="result.asChild" (change)="onCheckboxToggle()" [disabled]="data.asChildDisable">As Child</mat-checkbox>
	<div *ngFor="let attr of attributes; let i=index">
		<mat-form-field appearance="standard">
			<mat-label>Property Name</mat-label>
			<input matInput [(ngModel)]="attr[0]" cdkFocusInitial>
		</mat-form-field>=
		<mat-form-field appearance="standard">
			<mat-label>Value</mat-label>
			<input matInput [(ngModel)]="attr[1]">
		</mat-form-field>
		<mat-icon (click)="onRemoveAttr(i)">remove_circle_outline</mat-icon>
	</div>
	<div>
		<mat-icon (click)="onAddAttr()" >add</mat-icon>
	</div>
</div>
<div mat-dialog-actions>
	<button mat-raised-button color="primary" (click)="updateAttributes()" [mat-dialog-close]="result">Add</button>
	<button mat-raised-button (click)="onCancelClick()">Cancel</button>
</div>