<div class="view">
	<mat-card>
		<span>
			<mat-card-title>View</mat-card-title>
			<mat-card-subtitle>
				<mat-form-field *ngFor="let propName of getAttributes()">
					<mat-label>{{ propName }}</mat-label>
					<input matInput [(ngModel)]="curView.attributes[propName]">
				</mat-form-field>
			</mat-card-subtitle>
			<mat-icon (click)="onAddAttr()">add_circle_outline</mat-icon>
			<mat-icon (click)="onRemove()">remove_circle_outline</mat-icon>
		</span>
		<mat-card-content>
			<app-view-child [view]="curView"></app-view-child>
		</mat-card-content>
	</mat-card>
</div>